
.navbar {
    list-style: none;
    display: flex;
    
  }
  
  .navbar a {
    text-decoration: none;
    color: #889092;
    position: relative;
    
  }
  
  .navbar a:hover,
  .navbar a.active {
    color: #1c274c;
    font-weight: bold;
  }
  
  .navbar a.active::after,
  .navbar a:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #1c274c;
    left: 0;
    bottom: 35px;
    transition: width 0.3s;
  }
  
  .navbar a::after {
    width: 0;
  }
  